html {
  font-size: 16px;
}
body {
  background-color: $white;
  font-family: $fontFamily;
  height: 100vh;
  box-sizing: border-box;
  background-image: url("../assets/bg-pattern-1.svg"),
    url("../assets/bg-main-desktop.png");
  background-repeat: no-repeat no-repeat;
  background-size: 28vmin, auto;
  background-position: top right, 70% 20%;
  @media (max-width: 768px) {
    background-image: url("../assets/bg-pattern-1.svg"),
      url("../assets/bg-main-tablet.png");
    background-size: 30%, auto;
    background-position: 108% -4%, 80% 150%;
  }
  @media (max-width: 375px) {
    background-image: url("../assets/bg-main-mobile.png");
    background-size: 150%;
    background-position: 0% -90%;
  }
}

// Attribution to author and Frontend Mentor platform
.attribution {
  color: $attr_tc;
  font-size: 11px;
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  &__text {
    margin-bottom: 4px;
    a {
      color: $attr_tc;
      transition: all 0.5s ease 0s;
      text-decoration: none;
      &:hover {
        color: #d07f15;
      }
    }
  }
}
.grifano-logo {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
  color: #fff;
  background-color: #0061cc;
  span {
    color: #d07f15;
    background-color: #0061cc;
  }
}

// Container
.container {
  padding: 0 12px;
  max-width: 1110px - 12 - 12;
  margin: auto;
  &_full {
    @media (max-width: 475px) {
      max-width: none !important;
      padding: 0 !important;
    }
  }
  @media (max-width: 768px) {
    padding: 33px;
    max-width: none;
  }
  @media (max-width: 375px) {
    padding: 36px;
  }
}

// UI control
.show {
  visibility: visible;
  opacity: 100%;
}
.download-btn {
  width: 100%;
  min-height: 61px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  transition: all 0.3s ease 0s;
  &::before {
    content: "";
    width: 17.08px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
  &_ios {
    color: $white;
    background-color: $dark;
    &::before {
      background-image: url("../assets/icon-apple.svg");
    }
    &:hover {
      background-color: $brand;
    }
  }
  &_android {
    color: $dark;
    background-color: $white;
    &::before {
      background-image: url("../assets/icon-android.svg");
    }
    &:hover {
      background-color: $yellow;
    }
  }
}

// Logo
.brand {
  display: inline-block;
  width: 146.09px;
  height: 32px;
  font-size: 0;
}

// Footer
.social {
  display: flex;
  list-style: none;
  font-size: 0;
  margin-left: -4px;
  margin-right: -4px;
  li {
    margin: 0 4px;
  }
  &__link {
    padding: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    svg path {
      transition: all 0.3s ease 0s;
    }
    &:hover {
      svg path {
        fill: $coral !important;
      }
    }
  }
}
