// Colors
$bodyBg: #fcfaf9;

$brand: #66e2dc;
$coral: #fa7453;
$yellow: #ffb964;

$white: #fcfaf9;
$dark: #191826;

//Attribution
$attr_tc: #191826;

// Typeface
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
$fontFamily: "IBM Plex Sans", sans-serif;
